* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.logo {
	height: 38px;
	width: 50px;
	border-radius: 65%;
}

.title {
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 0px;
	color: orange;
}

.menu {
	font-weight: bolder;
}

.banner {
	background-color: #4d5c48;
	opacity: .9;
	padding-bottom: 17px;


}

.hero-img {
	height: 410px;
	width: 376px;
	/*position: relative;
	 animation: myfirst 5s linear 10s infinite alternate; */
	position: relative;
	animation-name: myfirst;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

.banner-title {
	font-size: 60px;
	color: white;
}

.text {
	color: white;
}

.book-table {
	text-decoration: none;
	background: orange;
	padding: 10px 16px;
	color: white;
	font-size: 24px;
	font-weight: 600;
}

@keyframes myfirst {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}



.card1-img {
	height: 75px;
	width: 75px;
	margin: 11px;
}

.card {
	border: 0px solid;
	box-shadow: 2px 3px 5px black;
}

.card:hover {
	background-color: orange;
	transition: .5s;
	color: white;
	border: 0px solid;
}

/* wellcome part*/

.wellcome-image {
	width: 50%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px 2px;
	margin-left: 10px;
}

.wellcome1 {
	height: 200px;
	width: 200px;
	margin-bottom: 10px;
}

.wellcome2 {
	height: 150px;
	width: 150px;
	margin-top: 51px;
	margin-left: 18px;
}

.wellcome3 {
	height: 200px;
	width: 200px;
}

.wellcome4 {
	height: 150px;
	width: 150px;
	margin-left: 38px;

}

.about-div {
	display: flex;
	width: 200px;
	height: 5px;

}

.about-div p {
	margin-left: 16px;
	margin-top: -21px;
	font-size: 26px;
}

.single-about {
	height: 3px;
	width: 50px;
	background-color: orange;
}

.about {
	display: flex;
}

.about h1 {
	color: #0F172B;
	font-weight: bolder;
}

.about img {
	height: 50px;
	width: 50px;
}

.text1 p {
	color: #73706B;
}

.two-colum-left-div {
	display: flex;
	border-left: 5px solid orange;
	justify-content: space-around;
}

.two-colum-left-div p {
	font-size: 22px;
	width: 115px;
	line-height: 1;
}

.tow-column-right-div p {
	width: 130px;
	line-height: 1;
	font-size: 21px;
}

.tow-column-right-div {
	display: flex;
	border-left: 5px solid orange;
	justify-content: space-around;
}

.tow-colum-title {
	color: orange;
}

.year {
	color: #9C9D92;
}

.experience {
	color: #010a22;
	font-weight: bolder;
}

.popular {
	color: #9C9D92;
}

.master {
	color: #010a22;
	font-weight: bolder;
}

.blank {
	margin-bottom: 25px;
}

.read-link {
	padding: 21px 18px;
	background-color: orange;
	width: 219px;
	margin-top: 63px;
	text-align: center;
}

.read-link a {
	text-decoration: none;
	font-weight: bolder;
	color: white;
}

.nav-link a:hover {
	color: none;
}

/* -------------------Food menu ----------------*/
.food_menu {
	display: flex;
	justify-content: center;
}

.food_menu h3 {
	line-height: 0;
	margin: 0px 12px;
	color: orange;
	font-size: 19px;
	font-style: italic;
}

.fn1 {
	width: 61px;
	height: 3px;
	background-color: orange;
}

.fn2 {
	width: 61px;
	height: 3px;
	background-color: orange;
}

.title h1 {
	color: #0F172B;
	text-align: center;
	font-weight: bold;
	margin-top: 9px;
}

.main-div {
	display: flex;
	width: 500px;
	justify-content: space-between;
	margin: 0 auto;
}

.main-div div {
	display: flex;
}


.main-div div img {
	height: 61px;
	width: 93px;
}

.food-hr {
	width: 549px;
	margin: 0 auto;
	height: 3px;
	background: gray;
	margin-top: 11px;

}

.main-div div p {
	margin-left: 5px;
}

.nav-text-1 {
	color: #9C9D92;
	font-weight: bold;
}

.nav-text-2 {
	color: #0F172B;
	font-weight: bold;
}